{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Agustin Gimenez Bava Resume - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/agb.png" rel="icon">
  <link href="assets/img/agb.png" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: MyResume
  * Updated: Mar 10 2023 with Bootstrap v5.2.3
  * Template URL: https://bootstrapmade.com/free-html-bootstrap-template-my-resume/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <!-- <button type="button" class="mobile-nav-toggle d-xl-none"><i class="bi bi-list mobile-nav-toggle"></i></button> -->
  <i class="bi bi-list mobile-nav-toggle d-lg-none"></i>
  <!-- ======= Header ======= -->
  <header id="header" class="d-flex flex-column justify-content-center">

    <nav id="navbar" class="navbar nav-menu">
      <ul>
        <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
        <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
        <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
        <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
      </ul>
    </nav><!-- .nav-menu -->

  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center">
    <div class="container" data-aos="zoom-in" data-aos-delay="100">
      <h1>Agustín Giménez Bava</h1>
      <p>I'm <span class="typed" data-typed-items="SRE Engineer, Developer, Freelancer"></span></p>
      <div class="social-links">
        <a href="https://twitter.com/BavaAgustin" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="https://github.com/agustinbava" class="github"><i class="bx bxl-github"></i></a>
        <a href="https://instagram.com/bavaagustin?igshid=YmMyMTA2M2Y=" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="https://wa.link/w88im9" class="google-plus"><i class="bx bxl-whatsapp"></i></a>
        <a href="https://www.linkedin.com/in/agust%C3%ADn-gimenez-bava-7b063060/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About</h2>
          <p>Welcome to Agustin Gimenez Bava's online resume and self-presentation. Please feel free to contact him through any of his available social media channels.</p>
          </div>

        <div class="row">
          <div class="col-lg-4">
            <img src="assets/img/profile-img.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content">
            <h3>SRE Engineer &amp; Python Developer.</h3>
            <p class="fst-italic">
              As an experienced SRE Engineer with a background in trading firms and monitoring, I bring a strong track record of driving operational excellence and ensuring high levels of system reliability.
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>25 Januray 1993</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+54 911 2388 5915</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Buenos Aires, Argentina</span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>30</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Bachelor</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>agustinbava@gmail.com</span></li>
                </ul>
              </div>
            </div>
            <p>
              As an individual who is constantly looking to grow and evolve, I have a strong interest in working on long-term projects that allow me to dive deep into complex problems and develop innovative solutions. I am particularly drawn to the latest developments in DevOps technologies, such as cloud providers and tools like Terraform, Ansible, and Kubernetes. I am eager to stay up-to-date with the latest trends and developments in this space.
            </p>
            <p>
              In addition to my professional pursuits, I am also passionate about travelling, football, and finances. I love exploring new places and immersing myself in different cultures. 
            </p>
            <p>
              As for football, I enjoy both playing and watching but even more playing the sport, and I believe that the teamwork, strategy, and perseverance required to succeed on the field are valuable lessons that can be applied to all areas of life. 
            </p>
            <p>
              Finally, I have a keen interest in finance, particularly due to my involvement in crypto trading and algorithms. I am fascinated by the potential of cryptocurrencies and the underlying blockchain technology, and I believe that algorithms can help make sense of the vast amounts of data involved in this emerging market. I am constantly learning and experimenting with new trading strategies, and I believe that staying up-to-date with the latest developments in the world of finance is essential for success in this field.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Skills</h2>
          <p>My skills have been developed through a combination of professional experience and educational certifications. While some of my expertise has been gained through on-the-job learning, I have also taken the initiative to study and earn certifications in various areas of interest. Nevertheless, I am always eager to expand my knowledge and continue learning to become a more well-rounded and effective engineer.</p>
        </div>

        <div class="row skills-content">

          <div class="col-lg-6">

            <div class="progress">
              <span class="skill">Python <i class="val">100%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">MySQL <i class="val">80%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Agile methodologies <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Monitoring tools (Prometheus, NewRelic, SevOne, PRTG) <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">SLI, SLO, Error budgets <i class="val">100%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Jenkins pipelines <i class="val">50%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Git <i class="val">75%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

          <div class="col-lg-6">

            <div class="progress">
              <span class="skill">Networks & Telecommunication <i class="val">80%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Linux (CentOS, Debian, RedHat) <i class="val">80%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Photoshop <i class="val">55%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Django <i class="val">75%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Ansible <i class="val">75%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">AWS <i class="val">60%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Kubernetes <i class="val">50%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            
            <div class="progress">
              <span class="skill">Terraform <i class="val">50%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

        </div>

      </div>
    </section><!-- End Skills Section -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Resume</h2>
          <p>I have gained valuable experience working in various roles within the technology industry, allowing me to develop a diverse skill set and a strong understanding of the importance of collaboration and problem-solving in a team environment.</p>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <h3 class="resume-title">Summary</h3>
            <div class="resume-item pb-0">
              <h4>Agustín Giménez Bava</h4>
              <p><em>As an experienced SRE engineer with over 3 years of experience, I am a deadline-driven problem solver who is constantly seeking innovative solutions to complex challenges. My focus lies in defining and monitoring SLIs, SLOs, and error budgets, and I possess strong Python skills for developing solutions for both on-cloud and on-premises applications.</em></p>
            </div>

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>Telecommunications &amp; networks bachelor's degree</h4>
              <h5>2016 - 2020</h5>
              <p><em>Universidad de Palermo, Buenos Aires, Argentina</em></p>
              <h4>Information &amp; Systems Engineer - 3rd year completed</h4>
              <h5>2010 - 2016</h5>
              <p><em>Universidad Tecnologica Nacional, Buenos Aires, Argentina</em></p>
            </div>
            <h3 class="resume-title">Languages</h3>
            <div class="resume-item">
              <h4>Spanish - native</h4>
              <h4>English - full professional proficiency</h4>
            </div>
            <h3 class="resume-title">Certificates</h3>
            <div class="resume-item">
              <h4>Django Web Framework</h4>
              <h5>2023</h5>
              <p><em>Credential ID: VUYD3DD3LM9E</em></p>
            </div>
            <div class="resume-item">
              <h4>Google IT Automation with Python</h4>
              <h5>2023</h5>
              <p><em>Credential ID: KV9SQJHURRN9</em></p>
              <ul>
                <p>Sub-certificates:</p>
                <li>Crash Course on Python</li>
                <li>Using Python to Interact with the Operating System</li>
                <li>Introduction to Git and GitHub</li>
                <li>Troubleshooting and Debugging Techniques</li>
                <li>Configuration Management (Puppet) and the Cloud</li>
                <li>Automating Real-World Tasks with Python</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Juniper JNCIA</h4>
              <h5>2016</h5>
              <p><em>Credential ID: JPR00265974</em></p>
            </div>
          </div>
          <div class="col-lg-6">
            <h3 class="resume-title">Professional Experience</h3>
            <div class="resume-item">
              <h4>SRE &amp; Support engineer at WEBB Traders (prop trading firm)</h4>
              <h5>04.2022 - Present</h5>
              <p><em>Amsterdam, NL </em></p>
              <ul>
                <li>Deploying monitoring for a vendor trading app called Tbricks using Prometheus, Loki, Promtail and Grafana. This application is co-located in USA, South America and Europe, and it is hosted in RedHat Linux bare metal servers. Deployment done with Ansible.</li>
                <li>Configuring TCP connections between the firm and stock market exchanges (FIX protocol).</li>
                <li>Providing support to traders in the firm regarding incorrect/missing data in our system, application bugs and/or new releases deployment.</li>
                <li>Working with Agile methodologies (using JIRA Kanban boards and scrum for projects & incidents) and using Atlassian tools like Confluence and Bitbucket as a repository, and JIRA tickets.</li>
                <li>Creating and documenting new processes in the team (Troubleshooting docs, pipelines, etc).</li>
                <li>Learning about trading strategies and algorithms</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>SRE Engineer at Paramo Technologies (Web apps dev firm)</h4>
              <h5>11.2021 - 03.2022</h5>
              <p><em>Remote</em></p>
              <ul>
                <li>Implementing SRE culture into a brand new team, combining them with Agile methodologies and collaborating with DevOps, Infrastructure and Dev teams.</li>
                <li>Monitoring applications (Infrastructure and Application levels) using NewRelic, designing dashboards to show SLIs and SLO progress.</li>
                <li>Creating and documenting new processes in the team and our collaboration with other teams.</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>SRE Engineer and Support engineer at JPMorgan Services Argentina</h4>
              <h5>06.2019 - 03.2022</h5>
              <p><em>Buenos Aires, Argentina and hybrid</em></p>
              <ul>
                <li>Promoted to senior (602)</li>
                <li>Point of contact in a team responsible of managing critical applications like network monitoring tools (SevOne), Load Balancer in-house deployment apps (F5 load balancers), Cisco ISE (Radius and TACACS), Jumphosts, log forwarders and more.</li>
                <li>Working with Atlassian tools (JIRA, Confluence, Bitbucket) in a team using Agile methodologies (Scrum, Kanban, etc) and ServiceNow for incidents and application changes.</li>
                <li>Automating load balancing configuration using Python, REST API and MySQL. Reducing toil and collaborating with developers using Bitbucket.</li>
                <li>Leading initiatives to align our team with the SRE culture. Focused on SLI definition and configuration and SLO's setting</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Network engineer at JPMorgan Services Argentina</h4>
              <h5>06.2017 - 06.2019</h5>
              <p><em>Buenos Aires, Argentina</em></p>
              <ul>
                <li>Network administration, working with more than +400 Chase branches and +1000 ATMs in the United States (Cisco 4300 routers, Cisco 3650 switches, 800 4G LTE routers and more), resolving incidents, coordinating activities with branch managers and vendors.</li>
                <li>Network automation, creating scripts in Python for troubleshooting using CLI and also GUI using streamlit (Python).</li>
                <li>Tickets reports creation, using Tableau for large data sets.</li>
                <li>Working in a +30 members team, distributed in the US, India and Buenos Aires.</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Network engineer at Neutrona</h4>
              <h5>07.2016 - 06.2017</h5>
              <p><em>Buenos Aires, Argentina</em></p>
              <ul>
                <li>Troubleshooting EPL and MPLS services on Juniper routers and switches.</li>
                <li>Developing scripts using Python and Paramiko to automate configuration reading and deployment, reducing manual tasks and preventing errors.</li>
                <li>Point of contact between customers and vendors from all LATAM and US.</li>
                <li>Enhancing team troubleshooting processes by reducing manual intervention and adding a first level of intervention that would reduce experienced technicians to work on daily tasks and focus on harder incidents.</li>
                <li>Configuring sensors that use SNMP monitoring tools like PRTG.</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Network technician at Ernst and Young</h4>
              <h5>06.2015 - 07.2016</h5>
              <p><em>Buenos Aires, Argentina</em></p>
              <ul>
                <li>Integrating the network operations team and providing tier 3 support and analysis for network-related incidents, service requests and change requests</li>
                <li>EY Intranet/Internet DNS infrastructure - highly experienced in EY's DNS infrastructure both for internal and external applications (Windows Server DNS Manager and BIND/Solaris, respectively).</li>
                <li>+1 years troubleshooting and implementing DNS solutions
                  SPOC for specified DNS disaster recovery exercises and migrations</li>
                <li>IP addressing allocation (using IPAM, the Bluecat Address Manager) Nexus 5k port configuration</li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
        </div>

        <div class="row mt-1">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>Villa Urquiza, Buenos Aires, Argentina</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>agustinbava@gmail.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+54 911 2388 5915</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form action="" method="post" role="form" class="">
              {% csrf_token %}
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="sent-message"> {{ message.as_p }}</div>
              </div>
              <div class="text-center"><input type="submit" id="button" value="Send email"></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <h3>Agustín Giménez Bava</h3>
      <p>Welcome to Agustin Gimenez Bava's online resume and self-presentation. Please feel free to contact him through any of his available social media channels.</p>
      <div class="social-links">
        <a href="https://twitter.com/BavaAgustin" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="https://github.com/agustinbava" class="github"><i class="bx bxl-github"></i></a>
        <a href="https://instagram.com/bavaagustin?igshid=YmMyMTA2M2Y=" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="https://wa.link/w88im9" class="google-plus"><i class="bx bxl-whatsapp"></i></a>
        <a href="https://www.linkedin.com/in/agust%C3%ADn-gimenez-bava-7b063060/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
      <div class="copyright">
        &copy; Copyright <strong><span>MyResume</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: [license-url] -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/free-html-bootstrap-template-my-resume/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/typed.js/typed.min.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>